.button {
    background-color: var(--main-color);
    height: 2.5rem;
    padding: 0 .685rem;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: .5s ease-in-out;
}

.button:hover {
    background-color: var(--black);
    color: var(--main-color);
}