.container {
    max-width: 31.25rem;
    margin: 1.875rem auto;
    overflow: auto;
    min-height: 18.75rem;
    border: 2px solid var(--main-color);
    padding: 1.875rem;
    padding-bottom: 0;
    border-radius: .625rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(1.25rem);
    backdrop-filter: blur(1.25rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-tasks {
    height: 17rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.aviso-inicial {
    text-align: center;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3.5rem;
    width: 100%;
}

@media screen and (max-width: 374px) {
    .container-tasks {
        height: 10rem;
    }

    .aviso-inicial {
        margin-bottom: 2rem;
    }
}