.item-container {
    background-color: var(--black);
    margin: 8px 0;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: var(--white);
    align-items: center;
    cursor: pointer;
}

.item-container .titulo {
    width: 90%;
    line-break: anywhere;
    padding: 1rem;
}

.buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    color: var(--main-color);
}

.buttons-container svg {
    margin: 0 .5rem;
}

.buttons-container svg:last-child {
    margin-right: 1rem;
}

@media screen and (max-width: 374px) {
    .buttons-container {
        width: auto;
    }
}